#sub-navigation-list-items {
    margin-left: -13px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}

#sub-navigation-list-items li {
    display: inline;
    padding-left: 20px;
}

.design-news-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.design-news-items li {
    border: 1px solid #eceef1;
}

.list-story-grouper {
    display: table-row;
    vertical-align: middle;
    padding-top: 20px;
}

.list-story-upvote-grouper {
    display: table-cell;
}

.list-story-content-grouper {
    display: table-cell;
    padding-left: 40px;
    padding-right: 20px;
}

.list-story-star-grouper {
   display: table-cell;
}

.btn-story-upvote {
    position: relative;
    background: #fff;
    border: none;
    width: 30px;
    height: 50px;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    fill: #2d72d9;
    color: #2d72d9;
    cursor: pointer;
}

.btn-story-upvote svg {
    display: block;
    margin: 0 auto 4px;
}
